<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebAgent</title>

    <!-- Widget JavaScript bundle -->
    <script src="https://cloud.google.com/ai/gen-app-builder/client?hl=pt-BR"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>
    <script>
        pdfjsLib.GlobalWorkerOptions.workerSrc = "https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.worker.min.js";
    </script>

    <!-- Search widget element is not visible by default -->
    <!-- gen-search-widget configId="3ed46650-16b3-4aa6-9234-1a2d737b3b1c" triggerId="searchWidgetTrigger" authToken="{{ jwt_token }}"-->
    <gen-search-widget configId="d47b7c6b-e5b1-4b75-b4ee-99981b49cc31" triggerId="searchWidgetTrigger">
    </gen-search-widget>
    <!--input type="hidden" id="jwt_token" name="jwt_token" value="{{ jwt_token }}"-->
</head>

<body>
    <form id="index_form" action="/" method="POST" enctype="multipart/form-data">
        <b style="float: right; text-align: right;">{{ user_version_info }}</b>
        </br></br>
        <!-- Element that opens the widget on click. It does not have to be an input -->
        <div class="form-box">
            <input placeholder="Mundo real" id="searchWidgetTrigger" />
        </div>
        </br></br>
        <div class="form-box">
            <input type="file" id="audioFile" accept="audio/*">
            <button type="button" id="callAnamneasyButton">Anamneasy Audio</button>
            <button type="button" id="callAnamneasyTeleButton">Anamneasy-tele Audio</button>
        </div>
        <div class="form-box">
            <h3>API Result</h3>
            <pre id="anamneasyResult" style="white-space: pre-wrap; word-wrap: break-word;"></pre>
        </div>
        </br></br>
        <div class="form-box">
            <!--input type="file" id="imageFile" accept="image/*, application/pdf"-->
            <input type="file" id="imageFile">
            <button type="button" id="sendImageFileButton">Send Image File</button>
            <button type="button" id="sendImageBinaryButton">Send Image Binary</button>
            <button type="button" id="sendImageFolderButton">Send Image Folder</button>
            <button type="button" id="sendImageLoopButton">Send Image Loop</button>
            <label for="loopIntervalInput">Interval (s):</label>
            <input type="number" id="loopIntervalInput" value="0" min="0" style="width: 40px;">
        </div>
        <div id="imageAndResultVisualization" class="form-box" style="display: flex; gap: 10px;">
            <div style="flex: 1; overflow-x: auto;">
                <h3>Image Preview</h3>
                <img id="image_preview" style="max-width: 100%; height: auto; display: none;" alt="Image preview">
            </div>
            <div style="flex: 1; overflow-x: auto;">
                <h3>API Result</h3>
                <pre id="exameasyResult" style="white-space: pre-wrap; word-wrap: break-word;"></pre>
            </div>
        </div>
        <div id="image-container"></div>
    </form>

    <script>
        const token = "TOKEN";
        const anamneasy_api = "https://anamneasy-484116905177.us-central1.run.app/"
        const anamneasy_tele_api = "https://anamneasy-tele-484116905177.us-central1.run.app/"
        //const exameasy_api = "https://exameasy-484116905177.us-central1.run.app/"
        const exameasy_api = "http://127.0.0.1:8080/"

        //const form = document.querySelector("form");

        const audioFileInput = document.getElementById("audioFile");
        const apiAnamneasyResultElement = document.getElementById("anamneasyResult");

        audioFileInput.addEventListener("change", function () {
            const file = this.files[0];
            if (file) 
                apiAnamneasyResultElement.textContent = "";
        });
        document.getElementById("callAnamneasyButton").addEventListener("click", function () {
            sendFile(anamneasy_api, audioFileInput);
        });
        document.getElementById("callAnamneasyTeleButton").addEventListener("click", function () {
            sendFile(anamneasy_tele_api, audioFileInput);
        });

        let isLooping = false;
        let loopInterval = null;
        const SendingType = {
            FILE: 'File',
            BINARY: 'Binary'
        };
        const imageFile = document.getElementById("imageFile");
        const imagePreviewElement = document.getElementById("image_preview");
        const apiExamResultElement = document.getElementById("exameasyResult");

        imageFile.addEventListener("change", function () {
            const file = this.files[0];
            if (file) {
                imagePreviewElement.style.display = "none";
                apiExamResultElement.textContent = "";
                if (file.type.startsWith("image/")) {
                    imagePreviewElement.src = URL.createObjectURL(file);
                    imagePreviewElement.style.display = "block";
                }
            }
        });

        document.getElementById("sendImageFileButton").addEventListener("click", function () {
            sendFile(exameasy_api, imageFile, SendingType.FILE);
        });
        document.getElementById("sendImageBinaryButton").addEventListener("click", function () {
            sendFile(exameasy_api, imageFile, SendingType.BINARY);
        });

        document.getElementById("sendImageFolderButton").addEventListener("click", async function () {
            const input = document.createElement('input');
            input.type = 'file';
            input.webkitdirectory = true;
            input.onchange = async e => {
                const files = e.target.files;
                const imageContainer = document.getElementById('image-container');
                imageContainer.innerHTML = ''; // Clear previous results
                for (const file of files) {
                    if (file.type.startsWith('image/') || file.type === 'application/pdf') {
                        const fileElement = document.createElement('div');
                        fileElement.className = 'image-and-result-visualization';
                        fileElement.innerHTML = `
                            <div style="flex: 1; overflow-x: auto;">
                                <h3>${file.webkitRelativePath} - Image Preview</h3>
                                <img style="max-width: 100%; height: auto;" alt="${file.name}">
                            </div>
                            <div style="flex: 1; overflow-x: auto;">
                                <h3>API Result</h3>
                                <pre style="white-space: pre-wrap; word-wrap: break-word;"></pre>
                            </div>
                        `;
                        imageContainer.appendChild(fileElement);

                        const imgElement = fileElement.querySelector('img');
                        if (file.type === 'application/pdf') {
                            /*const reader = new FileReader();
                            reader.onload = async function(event) {
                                const pdfData = new Uint8Array(event.target.result);
                                const pdf = await pdfjsLib.getDocument({data: pdfData}).promise;
                                const page = await pdf.getPage(1);
                                const viewport = page.getViewport({scale: 1.5});
                                const canvas = document.createElement('canvas');
                                const context = canvas.getContext('2d');
                                canvas.height = viewport.height;
                                canvas.width = viewport.width;
                                await page.render({canvasContext: context, viewport: viewport}).promise;
                                imgElement.src = canvas.toDataURL();
                            };
                            reader.readAsArrayBuffer(file);*/
                        } else {
                            imgElement.src = URL.createObjectURL(file);
                        }

                        const apiResultElement = fileElement.querySelector('pre');
                        await sendFile(exameasy_api, file, SendingType.FILE, apiResultElement);
                    }
                }
            };
            input.click();
        });
        document.getElementById("sendImageLoopButton").addEventListener("click", function () {
            if (isLooping) {
                // Stop the loop
                clearInterval(loopInterval);
                loopInterval = null;
                isLooping = false;
                this.textContent = "Send Image Loop";
                this.style.backgroundColor = ""; // Reset color
                console.log("Loop stopped.");
            } else {
                // Start the loop
                if (!imageFile.files[0]) {
                    alert("Please select an image file first.");
                    return;
                }
                const loopIntervalValue = document.getElementById("loopIntervalInput").value;
                if (!loopIntervalValue || loopIntervalValue < 0) {
                    alert("Please set a loop interval greater than or equal to 0 second.");
                    return;
                }
                const loopIntervalMs = loopIntervalValue * 1000;
                isLooping = true;
                this.textContent = "Stop Loop";
                this.style.backgroundColor = "red"; // Indicate it's active
                console.log("Loop started.");
                // Send immediately and then every 5 seconds
                sendFile(exameasy_api, imageFile, SendingType.BINARY);
                loopInterval = setInterval(() => sendFile(exameasy_api, imageFile, SendingType.BINARY), loopIntervalMs);
            }
        });

        function setButtonsState(api, disabled) {
            if (api === exameasy_api) {
                document.getElementById("sendImageFileButton").disabled = disabled;
                document.getElementById("sendImageBinaryButton").disabled = disabled;
                document.getElementById("sendImageFolderButton").disabled = disabled;
                document.getElementById("sendImageLoopButton").disabled = disabled;
            } else {
                document.getElementById("callAnamneasyButton").disabled = disabled;
                document.getElementById("callAnamneasyTeleButton").disabled = disabled;
            }
        }

        async function sendFile(api, file_input, sendingType = SendingType.FILE, apiResultElement = apiExamResultElement) {
            // Disable buttons to prevent multiple submissions while processing
            setButtonsState(api, true);
            const file = file_input.files ? file_input.files[0] : file_input;
            if (!file) {
                alert("Please select a file first.");
                // Re-enable buttons as the process is aborted
                setButtonsState(api, false);
                return;
            }
            apiResultElement.textContent = "Processsando....por favor, espere.";
            console.log("File ", file.name, " type: ", file.type, " size: ", file.size);
            const formData = new FormData();
            if (sendingType === SendingType.FILE) {
                formData.append(file.name, file);
                await callApi(api, formData, apiResultElement);
            } else {
                const reader = new FileReader();
                reader.onloadend = async () => {
                    // reader.result contains the file content
                    //console.log('File contet size:', reader.result.length ? reader.result.length : reader.result.byteLength);
                    //console.log('File as data:', reader.result);
                    if (sendingType === SendingType.BINARY) {
                        const blob = new Blob([reader.result], { type: "application/octet-stream" });
                        formData.append(file.name, blob);
                    }
                    await callApi(api, formData, apiResultElement);
                }
                reader.onerror = (error) => {
                    console.error('Error reading file:', error);
                    // Re-enable buttons on file read error, as the API call won't be made.
                setButtonsState(api, false);
                };
                if (sendingType === SendingType.BINARY) {
                    //formData.append("datatype", SendingType.BINARY);
                    reader.readAsArrayBuffer(file);
                }
            }
        }

        async function callApi(api, formData, apiResultElement) {
            console.log(`Calling API ${api}`);
            try {
                const response = await fetch(api, {
                    method: "POST",
                    headers: {
                        "Authorization": `Bearer ${token}`
                    },
                    body: formData,
                });
                if (response.ok) {
                    console.log("Response ok");
                    const result = await response.text();
                    apiResultElement.textContent = result;
                    console.log(`API ${apiResultElement.id} call successful !!`);
                    //console.log("API call successful: result ", result);
                    //alert("File uploaded and API called successfully! Check console for response.");
                } else {
                    console.log("Response error");
                    const serverError = await response.text();
                    const errorText = `API call failed: ${response.status} - ${serverError}`
                    //console.error(errorText);
                    alert(errorText);
                    apiResultElement.textContent = errorText;
                }
            } catch (error) {
                const errorText = `API call failed: ${error}`
                //console.error(errorText);
                alert(errorText);
                apiResultElement.textContent = errorText;
            } finally {
                // Re-enable the buttons after the API call is finished (either success or failure).
                setButtonsState(api, false);
            }
        }

        // Assume you have <input type="file" id="fileInput"> in your HTML

        // Ask the authorization token for the application
        // Set authorization token.
        //const jwt_token = document.getElementById("jwt_token").value;
        //const searchWidget = document.querySelector('gen-search-widget');
        //searchWidget.authToken = jwt_token;    
    </script>
</body>

</html>
