<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebAgent</title>

    <!-- Widget JavaScript bundle -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>
    <script>
        pdfjsLib.GlobalWorkerOptions.workerSrc = "https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.worker.min.js";
    </script>

    <!-- script src="https://cloud.google.com/ai/gen-app-builder/client?hl=pt-BR"></script -->

    <!-- Search widget element is not visible by default -->
    <!-- gen-search-widget configId="3ed46650-16b3-4aa6-9234-1a2d737b3b1c" triggerId="searchWidgetTrigger" authToken="{{ jwt_token }}"-->
    <!--gen-search-widget configId="d47b7c6b-e5b1-4b75-b4ee-99981b49cc31" triggerId="searchWidgetTrigger">
    </gen-search-widget-->
    <!--input type="hidden" id="jwt_token" name="jwt_token" value="{{ jwt_token }}"-->
</head>

<body>
    <form id="index_form" action="/" method="POST" enctype="multipart/form-data">
        <b style="float: right; text-align: right;">{{ user_version_info }}</b>
        </br></br>
        <!-- Element that opens the widget on click. It does not have to be an fileInputElement -->
        <!--div class="form-box">
            <fileInputElement placeholder="Mundo real" id="searchWidgetTrigger" />
        </div-->
        </br></br>
        <div class="form-box">
            <input type="file" id="audioFile" accept="audio/*">
            <button type="button" id="callAnamneasyButton">Anamneasy Audio</button>
            <button type="button" id="callAnamneasyTeleButton">Anamneasy-tele Audio</button>
        </div>
        <div class="form-box">
            <h3>API Result</h3>
            <pre id="anamneasyResult" style="white-space: pre-wrap; word-wrap: break-word;"></pre>
        </div>
        </br></br>
        <div class="form-box">
            <button type="button" id="loadImageFileButton">Carregar Imagem/PDF</button>
            <button type="button" id="loadImageFolderButton">Carregar pasta</button>
            <button type="button" id="processAllFilesButton">Lê todos</button>
            <!-- style="display: none;" -->
        </div>
        <div id="image-container"></div>
    </form>

    <script>
        const token = "TOKEN";
        const anamneasy_api = "https://anamneasy-484116905177.us-central1.run.app/"
        const anamneasy_tele_api = "https://anamneasy-tele-484116905177.us-central1.run.app/"
        //const exameasy_api = "https://exameasy-484116905177.us-central1.run.app/"
        const exameasy_api = "http://127.0.0.1:8080/"

        //const form = document.querySelector("form");

        const audioFileInput = document.getElementById("audioFile");
        const apiAnamneasyResultElement = document.getElementById("anamneasyResult");

        audioFileInput.addEventListener("change", function () {
            const file = this.files[0];
            if (file)
                apiAnamneasyResultElement.textContent = "";
        });

        function setButtonsState(disabled) {
            document.getElementById("callAnamneasyButton").disabled = disabled;
            document.getElementById("callAnamneasyTeleButton").disabled = disabled;
        }
        document.getElementById("callAnamneasyButton").addEventListener("click", function () {
            sendFileWithButtonDisabling(audioFileInput);
        });
        document.getElementById("callAnamneasyTeleButton").addEventListener("click", function () {
            sendFileWithButtonDisabling(audioFileInput);
        });
        async function sendFileWithButtonDisabling(api, file_input, sendingType, apiResultElement = null, sendButton = null) {
            setButtonsState(api, true, sendButton);
            apiResultElement.textContent = "Processsando....por favor, espere.";
            await sendFile(api, file_input, sendingType, apiResultElement);
            setButtonsState(api, false, sendButton);
        }

        let isLooping = false;
        let loopInterval = null;
        const SendingType = {
            FILE: 'File',
            BINARY: 'Binary'
        };

        const imageContainer = document.getElementById('image-container');
        const fileInputElement = document.createElement('input');
        fileInputElement.type = 'file';

        const loadImageFileButton = document.getElementById("loadImageFileButton");
        const loadImageFolderButton = document.getElementById("loadImageFolderButton");
        const processAllFilesButton = document.getElementById("processAllFilesButton");
        loadImageFileButton.addEventListener("click", function () {
            fileInputElement.webkitdirectory = false;
            fileInputElement.click();
        });

        loadImageFolderButton.addEventListener("click", async function () {
            fileInputElement.webkitdirectory = true;
            fileInputElement.click();
        });

        fileInputElement.onchange = async e => {
            const files = e.target.files;
            //imageContainer.innerHTML = ''; // Clear previous results
            for (const file of files) {
                if (file.type.startsWith('image/') || file.type === 'application/pdf') {
                    loadFile(file)
                }
            }
        };

        function getField(jsonString) {
            try {
                const data = JSON.parse(jsonString);
                return data.list[0].guideType;
            } catch (error) {
                console.error("Erro ao analisar a string JSON:", error);
            }
            return "none";
        }

        async function processFile(file, fileDivElement, sendButton, deleteButton) {
            if (sendButton.textContent == "Pare") {
                sendButton.style.backgroundColor = ""; // Reset color
                sendButton.disabled = true;
                return;
            }
            const apiResultElement = fileDivElement.querySelector('pre');
            const repeatsElem = fileDivElement.querySelector('.repeats');
            const intervalElem = fileDivElement.querySelector('.interval');
            try {
                const repeats = parseInt(repeatsElem.value, 10) || 1;

                deleteButton.disabled = true;
                repeatsElem.disabled = true;

                processAllFilesButton.disabled = true;
                loadImageFolderButton.disabled = true;
                loadImageFileButton.disabled = true;
                if (repeats == 1) sendButton.disabled = true;
                else {
                    sendButton.textContent = "Pare";
                    sendButton.style.backgroundColor = "red";
                }
                for (let i = 0; i < repeats; i++) {
                    console.log(`File: ${file.name}, Repeat: ${i + 1}/${repeats} Interval: ${interval}s`);
                    apiResultElement.textContent = `Processsando ${i + 1}/${repeats} por favor, espere.....`;
                    await sendFile(exameasy_api, file, SendingType.FILE, apiResultElement);
                    const guideType = getField(apiResultElement.textContent);
                    console.log(guideType)
                    if (guideType != "sadt" && guideType != "outro") {
                        alert(apiResultElement.textContent);
                        apiResultElement.textContent = `${guideType}\nRepet.: ${i + 1}/${repeats}\n${apiResultElement.textContent}`;
                        break;
                    }
                    var interval = (parseInt(intervalElem.value, 10) || 0) * 1000;
                    if (i < repeats && !sendButton.disabled && interval > 0) {
                        await new Promise(resolve => setTimeout(resolve, interval));
                    }
                    //apiResultElement.textContent = `${guideType}\nRepet.: ${i + 1}/${repeats}\n${apiResultElement.textContent}`;
                    if (sendButton.disabled) break;
                }
            }
            catch (error) {
                alert("not good call from here", error)
                apiResultElement.textContent = error;
            }
            finally {
                deleteButton.disabled = false;
                sendButton.textContent = "Lê guia";
                sendButton.style.backgroundColor = ""; // Reset color
                sendButton.disabled = false;
                repeatsElem.disabled = false;
                processAllFilesButton.disabled = false;
                loadImageFolderButton.disabled = false;
                loadImageFileButton.disabled = false;
            }
        }

        function loadFile(file) {
            const fileDivElement = createFileDivElement(file);
            imageContainer.appendChild(fileDivElement);
            showImageFile(fileDivElement, file);
            const sendButton = fileDivElement.querySelector('.send-file-button');
            const deleteButton = fileDivElement.querySelector('.delete-element-button');
            sendButton.addEventListener('click', () => processFile(file, fileDivElement, sendButton, deleteButton));
            deleteButton.addEventListener('click', () => {
                fileDivElement.remove();
            });
        }

        function createFileDivElement(file) {
            const fileDivElement = document.createElement('div');
            fileDivElement.className = 'image-and-result-visualization';
            var filename = file.name;
            if (fileInputElement.webkitdirectory)
                filename = file.webkitRelativePath;
            fileDivElement.innerHTML = `
                                <div style="flex: 1; overflow-x: auto;">
                                    <h3>${filename}</h3>
                                    <button type="button" class="send-file-button">Lê guia</button>
                                    <label for="repeats-${filename}">Repetições:</label>
                                    <input type="number" class="repeats" id="repeats-${filename}" value="1" min="1" style="width: 40px;">
                                    <label for="interval-${filename}">Intervalo:</label>
                                    <input type="number" class="interval" id="interval-${filename}" value="0" min="0" style="width: 40px;">
                                    <button type="button" class="delete-element-button">Deleta</button></br>
                                    <img style="max-width: 100%; height: auto;" alt="${file.name}">
                                </div>
                                <div style="flex: 1; overflow-x: auto;">
                                    <h3>API Result</h3>
                                    <pre style="white-space: pre-wrap; word-wrap: break-word;"></pre>
                                </div>
                            `;
            return fileDivElement;
        }

        function showImageFile(fileDivElement, file) {
            const imgElement = fileDivElement.querySelector('img');
            if (file.type === 'application/pdf') {
                const reader = new FileReader();
                reader.onload = async function (event) {
                    const pdfData = new Uint8Array(event.target.result);
                    const pdf = await pdfjsLib.getDocument({ data: pdfData }).promise;
                    const page = await pdf.getPage(1);
                    const viewport = page.getViewport({ scale: 1.5 });
                    const canvas = document.createElement('canvas');
                    const context = canvas.getContext('2d');
                    canvas.height = viewport.height;
                    canvas.width = viewport.width;
                    await page.render({ canvasContext: context, viewport: viewport }).promise;
                    imgElement.src = canvas.toDataURL();
                };
                reader.readAsArrayBuffer(file);
            } else {
                imgElement.src = URL.createObjectURL(file);
            }
        }

        async function sendFile(api, file_input, sendingType = SendingType.FILE, apiResultElement) {
            // Disable buttons to prevent multiple submissions while processing            
            const file = file_input.files ? file_input.files[0] : file_input;
            if (!file) {
                alert("Please select a file first.");
                // Re-enable buttons as the process is aborted
                return;
            }
            console.log("File ", file.name, " type: ", file.type, " size: ", file.size);
            const formData = new FormData();
            if (sendingType === SendingType.FILE) {
                formData.append(file.name, file);
                await callApi(api, formData, apiResultElement);
            } else {
                const reader = new FileReader();
                reader.onloadend = async () => {
                    // reader.result contains the file content
                    //console.log('File contet size:', reader.result.length ? reader.result.length : reader.result.byteLength);
                    //console.log('File as data:', reader.result);
                    if (sendingType === SendingType.BINARY) {
                        const blob = new Blob([reader.result], { type: "application/octet-stream" });
                        formData.append(file.name, blob);
                    }
                    await callApi(api, formData, apiResultElement);
                }
                reader.onerror = (error) => {
                    console.error('Error reading file:', error);
                    // Re-enable buttons on file read error, as the API call won't be made.
                };
                if (sendingType === SendingType.BINARY) {
                    //formData.append("datatype", SendingType.BINARY);
                    reader.readAsArrayBuffer(file);
                }
            }
        }

        async function callApi(api, formData, apiResultElement) {
            console.log(`Calling API ${api}`);
            try {
                const response = await fetch(api, {
                    method: "POST",
                    headers: {
                        "Authorization": `Bearer ${token}`
                    },
                    body: formData,
                });
                if (response.ok) {
                    console.log("Response ok");
                    const result = await response.text();
                    console.log(`API ${apiResultElement.id} call successful !!`);
                    apiResultElement.textContent = result;
                    //console.log("API call successful: result ", result);
                    //alert("File uploaded and API called successfully! Check console for response.");
                } else {
                    console.log("Response error");
                    const serverError = await response.text();
                    const errorText = `API response error: ${response.status} - ${serverError}`
                    //console.error(errorText);
                    alert(errorText);
                    apiResultElement.textContent = errorText;
                }
            } catch (error) {
                const errorText = `API call failed: ${error}`
                //console.error(errorText);
                alert(errorText);
                apiResultElement.textContent = errorText;
            }
        }

        document.getElementById("processAllFilesButton").addEventListener("click", async function () {
            const fileDivElements = document.querySelectorAll('.image-and-result-visualization');
            for (const fileDivElement of fileDivElements) {
                const sendButton = fileDivElement.querySelector('.send-file-button');
                sendButton.click();
            }
        });

        // Ask the authorization token for the application
        // Set authorization token.
        //const jwt_token = document.getElementById("jwt_token").value;
        //const searchWidget = document.querySelector('gen-search-widget');
        //searchWidget.authToken = jwt_token;    
    </script>
</body>

</html>